@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-zinc-50;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-title font-extrabold text-zinc-700;
  }
  h1 {
    @apply text-6xl max-md:text-5xl;
  }
  h2 {
    @apply text-5xl max-md:text-4xl;
  }
  h3 {
    @apply text-4xl max-md:text-3xl;
  }
  h4 {
    @apply text-3xl max-md:text-2xl;
  }
  h5 {
    @apply text-2xl max-md:text-xl;
  }
  h6 {
    @apply font-sans text-red-600 dark:text-red-700 uppercase tracking-widest;
  }
  p,
  input {
    @apply font-sans text-zinc-500 leading-8 font-medium;
  }
  ::selection {
    @apply text-white bg-blue-600;
  }
  .margin-x {
    @apply px-4 md:px-6 mx-auto max-w-7xl lg:px-8;
  }
  .margin-y {
    @apply py-24 max-sm:py-16;
  }
  .my-transition {
    @apply transition-all duration-300 ease-in-out;
  }
  .curved-bottom {
    /* Curved corners */
    border-bottom-left-radius: 50% 30%;
    border-bottom-right-radius: 50% 30%;
}
}

*,
*:focus,
*:hover {
  outline: none;
  scroll-behavior: smooth !important;
}

html {
  scroll-behavior: smooth !important;
  overflow-x: hidden !important;
}

body {
  overflow-x: hidden !important;
}
